
.health__data {
  text-align: center;
}

.health__description {
  margin-bottom: 2rem;
}

.health__image {
  position: relative;
}

.health__img {
  width: 100%;
  max-width: 320px;
}

.health__rate,
.health__course {
  background-color: var(--container-color);
  padding: 0.5rem 0.75rem;
  border-radius: 0.75rem;
  width: max-content;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  position: absolute;
  transition: background 0.4s;
}

.health__icon {
  background-color: hsl(2, 100%, 95%);
  border-radius: 50%;
  display: flex;
  padding: 6px;
  font-size: 1.5rem;
  color: hsl(2, 100%, 58%);
}

.health__title,
.health__number {
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.health__title {
  color: var(--title-color);
}

.health__number {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  color: transparent;
}

.health__rate {
  top: 4.5rem;
  left: 0.5rem;
}

.health__course {
  right: 0.5rem;
  bottom: 2rem;
}

@media screen and (min-width: 576px) {
  .health__img {
    max-width: 350px;
  }
}

@media screen and (min-width: 1024px) {
  .health__data {
    text-align: initial;
  }
  .health__img {
    max-width: 400px;
  }
}

@media screen and (min-width: 1152px) {
  .health__img {
    max-width: 500px;
  }

  .health__icon {
    padding: 9px;
    font-size: 2rem;
  }

  .health__title,
  .health__number {
    font-size: var(--normal-font-size);
  }

  .health__course {
    right: 2rem;
    bottom: 3rem;
  }
}
